@charset "utf-8";

/* common.css - 공통레이아웃 디자인 */

/****************************헤더********************/
#header{
    position: relative;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

/*로고*/
header h1{
    padding-top: 35px;
    padding-left: 70px;
}

/*gnb*/
.gnb{
    position: absolute;
    width: 150px;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
}

.gnb li{
    width: 33.33%;
    text-align: center;
}
.gnb img{
    width: 25px;
    height: 25px;
}

/****************************푸터********************/
#footer{
    background: #222;
    height: 200px;
    color: #bbb;
    line-height: 1.7;
    font-size: 11px;
}

#footer .wrap{
    display: flex;
    height: 100%;    
    align-items: center;
}

.footer_left{
    width: 70%;
}

.footer_left p{
    margin-top: 10px;
}

.footer_right p{
    margin: 10px 0;
}

#footer p{
    color: #eee;
    font-size: 12px;
}
#footer span{
    display: block;
}

















