@charset "utf-8";
/* gallery .css - 갤러리 페이지 css */

/* 파일 merging(합치기) */
@import url(reset.css);
@import url(core.css);
@import url(common.css);


.gallery{
    background: #eee;
}

/******************* 중앙 텍스트 *******************/
#text{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 200;
    font-size: 30vmin;
    color: #333;
    z-index: 1;
}

#photo{
    position: relative;
    width: 300%;
    height: 100%;
}

#photo li{ 
    position: absolute;
}

#photo img{
    width: 40vmin;
}


